*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 5px solid red; */
    color: white;
}

#navbar{
    width: 100%;
    height: 70px;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
    height: 60px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-img{
    margin-left: 10%;
    width: 34px;
    height: 34px;
}

.search{
    width: 50%;
    /* height: 5px; */
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
}

.mobile-nav{
    display: none;
}

.tablet-nav{
    display: none;
}

.search-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */

}

.home{
    width: 48px;
    height: 48px;
    /* border: 1px solid white;    */
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    margin-right: 7px;
}

.material-symbols-outlined {
    color: white;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}

.search  span{
    font-size: 36px;
    /* height: 8%; */
}

.search-bar{
    width: 100%;
    height: 48px;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 999px;
    /* outline: 5px solid white; */
}

.search-bar > input{
    width: 100%;
    height: 28px;
    font-size: 16px;
    margin: 0px 5px;
    background-color: #1f1f1f;
    color: #b3b3b3;
    border: none;
    border-right: 1px solid #b3b3b3;
    outline: none;
}

.search-bar > input::placeholder{
    color: #b3b3b3;
}


.login{
    width: 14%;
    height: 60px;
    /* border: 1px solid white; */
}

.login-container{
    width: 100%;
    height: 60px;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-container p{
    font-weight: 600;
}

.sign-up{
    width: 40%;
    padding: 15px 5px;
    /* border: 1px solid red; */
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in{
    width: 40%;
    padding: 15px 5px;
    /* border: 1px solid red; */
    background-color: white;
    color: #000000;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile screen */

@media screen and (min-width : 300px) and (max-width:599px) {

    #navbar{
        width: 100%;
        height: 56px;
        justify-content: space-between;
    }



    .logo{
        width: 15%;
        height: 40px;
        justify-content: center;
    }

    .logo-img{
        width: 35px;
        height: 35px;
    }

    .search{
        display: none;
    }

    .mobile-nav{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .mobile-nav-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .mbl-search{
        width:max-content;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .mbl-search > span{
        font-size: 28px;
        width: 100%;
        height: 80%;
    }

    .app{
        width: 45%;
        padding:10px 0px;
        font-size: 13px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        color: black;
        border-radius: 999px;
    }

    .menu{
        width: max-content;
        /* background-color: #FFFFFF; */
        height: max-content;
        font-size: 36px;
        font-weight: 600;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu > span{
        font-size: 35px
    }

    .login{
        display: none;
    }
}

/* tablet screen */

@media screen and (min-width : 600px) and (max-width:899px) {

    #navbar{
        width: 100%;
        height: 56px;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 15%;
        height: 40px;
        justify-content: left;
        margin-left: 15px;
        align-items: center;
    }

    .logo-img{
        width: 35px;
        height: 35px;
    }

    .tablet-nav{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 80%;
        /* border: 1px solid white; */
    }

    .left-nav{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .tablet-icons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .mbl-search{
        width: 48px;
        height: 48px;
        /* border: 1px solid white;    */
        border-radius: 50%;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1f1f1f;
    }

    .tablet-icons span{
        font-size: 36px;
    }


    .search{
        display: none;
    }

    .mobile-nav{
        display: none;
    }

    .login{
        display: block;
        width: 50%;
    }
}

/* laptop screen */

@media screen and (min-width : 900px) and (max-width:1449px){

    #navbar{
        width: 100%;
        height: 56px;

        align-items: center;
    }

    .logo{
        width: 15%;
        height: 40px;
        justify-content: left;
        margin-left: 15px;
        align-items: center;
    }

    .logo-img{
        width: 35px;
        height: 35px;
    }

    .tablet-nav{
        display: none;
    }


    .search{
        display: flex;
        width: 60%;
    }

    .mobile-nav{
        display: none;
    }

    .login{
        display: flex;
        width: 20%;

    }
}

@media  screen and  (min-width:1450px){
    .search{
        width:35%;
    }

}

/* main body css */

#main{
    width: 100%;
    height: 800px;
    border: 5px solid red;
    /* background-color: #aaa; */
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.main-left-container{
    width: 22%;
    height: 100%;
    border: 5px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left-body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid blue;
    border-radius: 10px;
}

.library{
    width: 100%;
    height: 16%;
    border: 5px solid grey;
    border-radius: 10px;
}

.cards{
    width: 100%;
    height: 82%;
    border: 5px solid grey;
    border-radius: 10px;
}

.left-footer{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid blue;
    border-radius: 10px;
}


.left-footer-1{
    width: 100%;
    height: 66%;
    border: 5px solid grey;
    border-radius: 10px;
}

.left-footer-2{
    width: 100%;
    height: 33%;
    border: 5px solid grey;
    border-radius: 10px;
}

.main-right-container{
    width: 77.5%;
    height: 100%;
    border: 5px solid green;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-container-1{
    width: 100%;
    height: 49%;
    border: 5px solid white;
    border-radius: 10px;
}

.right-container-heading{
    width: 100%;
    height: 15%;
    border: 5px solid purple;
    border-radius: 10px;
}

.right-content-1{
    width: 100%;
    height: 85%;
    border: 5px solid brown;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-card{
    width: 14%;
    height: 100%;
    border: 5px solid cyan;
}

.right-container-2{
    width: 100%;
    height: 49%;
    border: 5px solid white;
    border-radius: 10px;
}

.right-content-2{
    width: 100%;
    height: 85%;
    border: 5px solid brown;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-card{
    width: 14%;
    height: 100%;
    border: 5px solid rgb(0, 255, 128);
}


/* footer css */

#footer{
    width: 100%;
    height: 80px;
    /* border: 5px solid green; */
}
